<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Logs samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :log_categories %>">Logging categories</a></li>
      <li><a href="#">Logging memory usage</a></li>
      <li><a href="#">Logging to remote location</a></li>
      <li><a href="<%= url_for :action => :show_log %>">Show log</a></li>
      <li><a href="<%= url_for :action => :display_log_file %>">Display log file</a></li>
    </ul>
  </div>

</div>
