<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Log file</h1>
  </div>

  <div data-role="content">
    Click here to see log file in the server
	<a href='http://rhodes-server-log.herokuapp.com/server_logs'>http://rhodes-server-log.herokuapp.com/server_logs</a>
  </div>

</div>