<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "ScreenOrientation - set callback ", :description => "
      This example will call the callback event when screen orientation occurs
       " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <ul>
		<li><a href="<%= url_for :action => :trigger_callback %>">ScreenOrientation - set callback</a></li>

      </ul>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.Screenorientation.setCallback()">ScreenOrientation - set callback</a>
    </div>
    
    
  </div>
