<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Network samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Detect network availability</a></li>
      <li><a href="#">Detect network events</a></li>
      <li><a href="#">Upload / download files</a></li>
      <li><a href="#">Using http headers verbs</a></li>
      <li><a href="#">Connecting with basic authentication</a></li>      
    </ul>
  </div>

</div>
