<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Network samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="/app/Network/network_availability">Detect network availability</a></li>
      <li><a href="/app/Network/network_events">Detect network events</a></li>
      <li><a href="/app/Network/upload_download">Upload / download files</a></li>
      <li><a href="#">Using http headers and verbs</a></li>
      <li><a href="#">Connecting with basic authentication</a></li>      
    </ul>
  </div>

</div>
