<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Network Availability</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <li>Has Cell Network : <%= @cell_newtwork %> </li>
      <li>Has Network : <%= @network %></li>
      <li>Has Wifi Network : <%= @wifi_network %></li>     
    </ul>
  </div>

</div>
