<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Stop detecting network events", :description => "
      This example will show how to stop detecting the network events
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <ul>
<li><a href="<%= url_for :action => :stop_status_notify %>">Stop detecting network events</a></li>
   
      </ul>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.Network.stop_status_notify()">Stop detecting network events</a>    
    </div>
    
    
  </div>



