<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Import DB", :description => "
      Import DB
      
      
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <ul>
      <li><a href="<%= url_for :action => :importdb %>" data-role="button">Import DB</a></li>    
      </ul>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="">Import DB - Not yet Implemented</a>
    </div>
  </div>   
</div>
