<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Database samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Import</a></li>
      <li><a href="#">Export</a></li>
      <li><a href="#">Seed</a></li>
      <li><a href="#">Transactions</a></li>
    </ul>
  </div>

</div>
