<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Application samples</h1>
  </div>

  <div data-role="content">
	  <h2>Ruby</h2>
    <ul data-role="listview">
      <li><a href="#">Getting folders where items are stored</a></li>
      <li><a href="#">Using locale</a></li>
      <li><a href="#">Quitting the application</a></li>
      <li><a href="#">Minimizing the application</a></li>
      <li><a href="#">Restoring the application</a></li>      
    </ul>
      <h2>Javascript</h2>
    <ul data-role="listview">
      <li><a href="#">Getting folders where items are stored</a></li>
      <li><a href="#">Using locale</a></li>
      <li><a href="#">Quitting the application</a></li>
      <li><a href="#">Minimizing the application</a></li>
      <li><a href="#">Restoring the application</a></li>      
    </ul>
  </div>

</div>
