<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Control webview properties</h1>
  </div>

  <div data-role="content">
  <ul>
    <li>Language: <%= @acceptLanguage %></li>
    <li>Fullscreen: <%= @fullScreen %></li>
  </div>

</div>
