<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

    
  <div data-role="header" data-position="inline">
    <h1>RhoMobile Kitchen Sink</h1>
  </div>

  <div data-role="content">
    <div class="example-description">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </div>

    <%= render :partial => "/partials/navmenu" %>

  </div>


</div>
