<div>
    	<%= link_to '[Take Signature]', { :action => :new }%> <br>
                      
            <%= link_to '[Capture Signature]', { :action => :inline_capture }%> <br>
                   
    <br/>
	
</div>
