<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Signature capture samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Set capture properties</a></li>
      <li><a href="#">Capture to file</a></li>
      <li><a href="#">Capture to dataURI</a></li>
      <li><a href="<%= url_for :action => :new %>">Capture full-screen</a></li>
      <li><a href="<%= url_for :action => :inline %>">Capture in a window (responsive)</a></li>
      <li><a href="#">Display captured signature in a view</a></li>
      <li><a href="#">Change orientation before / after capture</a></li>
    </ul>
  </div>

</div>
