<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Camera samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Take a picture with default camera/settings</a></li>
      <li><a href="#">Allow user to choose camera</a></li>
      <li><a href="#">Determine camera capabilities</a></li>
      <li><a href="#">Control image properties (size, resolution, etc)</a></li>
      <li><a href="#">Interaction with Gallery</a></li>
    </ul>
  </div>

</div>
