<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>ORM samples</h1>
  </div>

  <div data-role="content">
  <h2>Ruby</h2>
    <ul data-role="listview">

    </ul>

  <h2>Javascript</h2>
  <ul data-role="listview">
    <li><a href="#">Export</a></li>
  </ul>  
  </div>
  
  <script type="text/javascript">
  
    function export_database() {
      // Export database partition as zip file
      var exported_zip = Rho.Orm.databaseExport("user");
      alert("Exported database to: "+exported_zip);
    }
    
    function import_database() {
      // Import database from a zip file created with "Rho::Orm.databaseExport"      
      var exported_zip = "/somewhere/filename.zip";
      var result = Rho.Orm.databaseImport("user", exported_zip);
      if (result) {
        alert("Import succeeded. Existing data was erased and the backup was restored");
      } else {
        // If the process fails, everything will be restored to its previous state. We will not lose any information
        alert("Database import failed. The database is unchanged");
      }
    }
  </script>
</div>
