<div><h2 style="display: inline"><%= title %></h2> <a class="ks_toggle_example_description" data-role="button" data-icon="add" data-iconpos="notext" data-inline="true">Show description</a></div>

<div class="example_description">
  <%= description %>
</div>