<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Barcode samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Scan using default scanner</a></li>
      <li><a href="#">Allow user to choose scanner</a></li>
      <li><a href="#">Scan using default scanner</a></li>
      <li><a href="#">Set symbology</a></li>
      <li><a href="#">Control scanner properties</a></li>
      <li><a href="#">Change audible options</a></li>
    </ul>
  </div>

</div>
