<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>System samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Get device capabilities</a></li>
      <li><a href="#">Install / uninstall other applications</a></li>
      <li><a href="#">Detecting version information</a></li>
      <li><a href="#">Changing localServerPort for debug purposes</a></li>
      <li><a href="#">Zipping files</a></li>      
    </ul>
  </div>

</div>
