<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Zipping files</a>", :description => "
      This example will show you how to zip/unzip files
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
    <li><a href="<%= url_for :action => :zip_files %>">Zipping files</a></li> 
   </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.System.zip()">Zipping files</a>    
    </div>
    
    
  </div>